# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
**/node_modules
EasyFine/wwwroot
EasyFine/obj
EasyFine/bin
packages

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
src/Apps/Forum/PrivateForum.Apps.Api/node_modules/
src/PrivateForum.Database/obj/
src/PrivateForum.Core/bin/
src/Apps/Forum/PrivateForum.Apps.Api/bin/
src/Apps/Forum/PrivateForum.Apps.Api/obj/
src/Apps/Forum/PrivateForum.Apps.Services/bin/
src/Apps/Forum/PrivateForum.Apps.Services/obj/
packages/
src/Apps/Forum/PrivateForum.Apps.Api/wwwroot/
src/PrivateForum.Database/bin/
src/PrivateForum.Core/obj/

src/PrivateForum.Database/*.dbmdl
src/PrivateForum.Database/*.jfm
src/PrivateForum.Database/*.sqlproj.user

.DS_Store

*.jfm

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/