@import 'ClientApp/styles/theme.scss';

mat-card {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;

  .avatar {
    margin: 16px auto;
    background-image: url('https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y');
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .name {
    font-size: 18px;
  }
}