@import 'theme.scss';

.forum-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100%);

  .forum-container {
    flex: 1 1 auto;
    transition: width 0.6s ease-in;
    overflow-x: auto;

    mat-toolbar {
      font-size: 16px;
      line-height: 24px;
      height: auto;
      flex-wrap: wrap;
      background-color: map-get($forum-base-colors, 100);
      color: white;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

      @media screen and (max-width: 320px) {
        flex-direction: column;
        align-items: flex-start;
      }

      div {
        display: flex;
        align-items: center;
        
        span {
          padding: 2px 7px;
          border-radius: 2.5px;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.12);
          }
        }

        mat-icon {
          font-size: 40px;
          height: 40px;
          width: 40px;
        }
      }
      
    }

    .filler {
      flex: 1 1 auto;
    }

    button[mat-icon-button] {
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }

    mat-list {
      padding: 16px;
      width: calc(100% - 32px);
      
      mat-list-item {
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.12);
        }

        h3 {
          mat-icon {
            text-align: left;
          }
        }
      }
    } 
  }

  .topic-container {
    flex: 0 0 auto;
    transition: width 0.6s ease-out;
    width: 0%;
    margin-top: -64px;

    @media screen and (max-width: 600px) {
      margin-top: -56px
    }

    &.opened {

      @media screen and (min-width: 1024px){
        width: 70%;
      }
      width: 50%;
      border-left: rgba(0, 0, 0, 0.24) 1.5px solid;
    }
  }
}
