@import 'theme.scss';

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topic-container {
  margin-top: 64px;
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    margin-top: 56px;
    height: calc(100% - 56px);
  }

  .filler {
    flex: 1 1 auto;
  }

  mat-toolbar {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    background-color: map-get($forum-base-colors, 100);
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    button {
      transition: background-color 0.2s ease-in;
      height: 36px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }

      mat-icon {
        line-height: 20px;
      }
    }
  }

  .messages-container {
    flex: 1 1 auto;
    overflow-y: auto;

    mat-card {
      margin: 16px;
      mat-card-header {
        cursor: pointer;

        mat-icon {
          margin-right: 8px;
          opacity: 0;
          transition: opacity 0.1s ease-in;
        }

        &:hover {
          mat-icon {
            opacity: 1;
          }
        }
  
        .avatar {
          background-image: url('https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y');
          background-size: cover;
        }
      }
      
    }
  }

  .editor-container {
    .action-container {
      display: flex;
      flex-direction: row;

      button {
        margin: 8px;
      }

      mat-chip {
        margin: 12px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }
    }
  }
  
}
