<mat-tab-group>
    <mat-tab label="Login">
        <mat-card>
            <mat-card-content>
                Login
                <input matInput placeholder="Login" [(ngModel)]="loginModel.email" required>
                <input matInput placeholder="Password" [(ngModel)]="loginModel.password" required>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="login()">Login</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="Register">
        <mat-card>
            <mat-card-content>
                Register
                <input matInput placeholder="First Name" [(ngModel)]="registerModel.firstName" required>
                <input matInput placeholder="Last Name" [(ngModel)]="registerModel.lastName" required>
                <input matInput placeholder="Email" [(ngModel)]="registerModel.email" required>
                <input matInput placeholder="Password" [(ngModel)]="registerModel.password" required>
                <input matInput placeholder="Repeat Password" [(ngModel)]="registerModel.repeatPassword" required>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="register()">Register</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
</mat-tab-group>

