mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .filler {
    flex: 1 1 auto;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px 0 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
    

    .avatar {
      margin: 8px;
      background-image: url("https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y");
      background-size: cover;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  
    .name-container {
      p {
        line-height: 20px;
        font-size: 16px;
        margin: 0;
  
        &.email {
          font-size: 12px;
        }
      }
    }
  }

  mat-icon {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  .logout {
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
    cursor: pointer;
    padding: 5px;
  }

  

  .forum-logo {
    img {
      padding: 10px 0 0 10px;
    }
  }
}
